@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .footer-footers {
    @apply block cursor-pointer pb-1 text-slate-500 hover:text-black hover:underline hover:underline-offset-1;
  }
}



:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Oswald, Helvetica, Arial, sans-serif;
  /* font-family: sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color: black; 
  background-color: whitesmoke;

  min-width: 320px;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 800;
}

/* title of specyfic product in Product */
h2 {
  /* title pages fav i clothing */
  font-size: 2rem;
  
}

h3 {
  font-size: 1.1rem;
  line-height: 1.1;
  font-weight: 600;
}

h5 {
  @media screen and (max-width: 600px) {
      font-size: 15px;
    }
  
}

h6 {
  @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* a {
  font-size: 14.5px;
  font-family: sans-serif;
} */

/* a:hover {
  color: #535bf2;
} */